img {
  padding=0px;
  margin=0px;
  border=0px;
}

div.topbar {
  position:absolute;
  top:0px;
  left:0px;
  height:100px;
  background-color:#000000;
  color:#ffffff;
  background-image:url('images/topbg.png');
  background-repeat:repeat-x;
  white-space:nowrap;
}

span.top_item {
  position:relative;
  top:-12px;
  padding:0px 8px;
  background:inherit;
}

div.leftbar {
  position:absolute;
  top:100px;
  left:0px;
  background-color:#000000;
  color:#ffffff;
  width=180px;
  border=0px;
  margin=0px;
  text-align:right;
  background-image:url('images/leftbg.png');
  background-repeat:repeat-y;
  white-space:normal;
}

/*
div.left_fact {
  width=180px;
  height=180px;
  padding:5px 10px;
  margin=0;
  border=0;
  font-style:italic;
  text-align:center;
}
*/

div.left_item {
  padding:5px 10px;
  width=180px;
  white-space:normal;
  /*
  position:inherit;
  border=0px;
  margin=0px;
  */
  background:inherit;
}

div.content {
  position:absolute;
  top:100px;
  left:180px;
  padding:80px;
  width:600px;
}

a.item {
  color:white;
  text-decoration:underline;
}

h1 {
  text-align:center;
  color:green;
}
